<app-navbar></app-navbar>
<body>
    
    <div class="cardsL" >
       <div style="display: flex;">
        <img class="avatar" src="../assets/Portfolio-img.png">
        <h1>David Carrillo</h1>
       </div>
       <p>
        hello, this is my small website. I am an inspiring software engeneer in training.
        I am applying to be a part of Revatrue, and hopfully will be reciving a call from them in the near futrue.
        As I wait I am teaching myself new skills and problem solving diffrent issues on my own.
        This portfolio site is a small example of what I am capable of doing, and even smaller 
        of what I will be able to do. I am learning a lot each day and hopeully be more than capable for whatever 
        challenges are there to face in the work force. 
       </p>
       <p>
           Feel free to look around the site, and don't hesitate to critize and offer advice to make it look better.
           I appreciate all I can get.  
       </p>
    </div> 
        <span class="spacer"><div class="divider "></div></span>
    <div class="cardsR" >
        <div style="display: flex;">
            <img class="avatar" src="../assets/Portfolio-img.png">
            <h1>Resume and Projects</h1>
        </div>
        <mat-chip-list aria-label="Fish selection">
            <mat-chip routerLink=""> Resumé.pdf </mat-chip>
            <mat-chip routerLink="/calendar">Calendar</mat-chip>
            <mat-chip routerLink="/caculator">Calculator</mat-chip>
            <mat-chip routerLink="/weather">Weather Service</mat-chip>
            
          </mat-chip-list>
        
        
           
          
        
    </div>
        

</body>