.formWrapper {
    padding: 10px;
    margin: 3%;
    background-color: rgb(227, 248, 248);
    box-shadow: -15px 6px 10px rgba(0, 0, 0, 0.442);
    
}

mat-label.mat-form-field-label {
    height: 100px;
}

.titleSlide {
    border-radius: 50px;
    left: 0px;
    animation-name: none;
    animation-duration: 0s;
    animation-timing-function: ease-out;
  }
  
  .navButtons{
    animation-name: none;
    animation-duration: 0s;
    animation-timing-function: ease-out;
  }
  .navButtons2{
    animation-name: none;
    animation-duration: 0s;
    animation-timing-function: ease-out;
  }
  